

<!DOCTYPE html>
<html>
<head>
    <title>Move your Body</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Main css -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/styles.css">



</head>


<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- Nav Menu -->

<div class="section">
    <div class="container">
        <h2 class="mt-2 mb-5" style="text-align: center;">Welcome: {{player.name}}</h2>
        <form method="POST" action="/player/1">
            <div class="row">
                <div class="col-md-5 d-flex align-items-center">
                    <div>
                        <!--                        <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>-->
                        <h4>Start Moving</h4>
                        <p class="mb-4">
                            Please record a video of the exercise you would like to complete and select "Finish" when you're done!
                        </p>

                        <div>
                            <div>Teachable Machine Pose Model</div>
                            <button class="btn btn-primary mt-3 mb-3" type="button" onclick="init()">Start</button>
<!--                            <button class="btn btn-primary" type="button" onclick="test()">TESTER</button>-->
                            <div><canvas id="canvas"></canvas></div>
                            <div id="label-container" name="label"></div>
                            <input type="hidden" name="labelVal" value="TEST VALUE" id="labelVal">
                        </div>

                        <button class="btn btn-primary" type="submit">Finish</button>
                    </div>
                </div>

                <div class="col-md-7" style="display: flex;">
                    <div class="col-md-8" style="display: flex;">
                        <div id="c">
                            <h4>Countdown</h4>
                            <p>Set timer of how long you will be exercising </p>
                            <span id="cd_h">00</span><span>&nbsp;:</span>
                            <span id="cd_m">00</span><span>&nbsp;:</span>
                            <span id="cd_s">00</span><span>&nbsp;:</span>
                            <span id="cd_ms">00</span>
                            <br/>
                            <br/>
                            <div style="display: flex;">
                                <input class="btn btn-primary mr-2"  type="button" value="START" id="cd_start" />
                                <input class="btn btn-primary mr-2 " type="button" value="PAUSE" id="cd_pause" />
                                <input class="btn btn-primary" type="button" value="RESET" id="cd_reset" />
                            </div>

                            <br/>
                            <br/>
                            <input name="timer" type="number" value="15" id="cd_minutes" />
                            <i id="minutes">Minutes</i>
                        </div>

                    </div>

                    <div class="col-md-4" style="display: flex;">
                        <div class="form-group">
                            <label for="exampleInputEmail1"><h4>Intensity</h4></label>
                            <select class="form-control" name="intensity">
                                <option class="dropdown-item" type="button">choose intensity</option>
                                {{# intensityLevels}}
                                    <option class="dropdown-item" type="button">{{name}}</option>
                                {{/intensityLevels}}

                            </select>
                        </div>
                    </div>



<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputEmail1">Timer</label>-->
<!--                        <select class="form-control" name="timer">-->
<!--                            <option class="dropdown-item" type="button">select time</option>-->
<!--                            <option class="dropdown-item" type="button">10</option>-->
<!--                        </select>-->
<!--                    </div>-->
                </div>

            </div>

        </form>
    </div>
<!--    <div id="switch">-->
<!--        <button id="countdown">COUNTDOWN</button>-->
<!--        <script src="timer.js"></script>-->
<!--    </div>-->

</div>


<!-- jQuery and Bootstrap -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Plugins JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Custom JS -->
<!--<script src="/js/script.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
<script src="/teachable.js"></script>
<script src="/timer.js"></script>

</body>

</html>

