<div>
    <div class="col-md-6 d-flex align-items-center">
        <div>
            <!--                        <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>-->
            <h2>Start Moving</h2>
            <p class="mb-4"> Please record a video of the exercise you would like to complete and select "Finish" when you're done!






Start

            </p>
<!--                                    <button type="button" onclick="init()">Start</button>-->

            <a onclick="init()" class="btn btn-primary"><button> Start Model </button></a>
            <!--                        <a href="#" class="btn btn-primary">Finish</a></div>-->
        </div>
    </div>
</div>


<!--<div id="switch">-->
<!--    <p style="margin: 0px;height: 5px; align:center;"></p>-->
<!--    <a href="/timer"> <button  id="countdown">Finish</button> </a>-->
<!--</div>-->
